* {
    box-sizing: border-box;
}

body{
    font-family: Verdana, sans-serif;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/Journey-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER START */
.header-name{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(3, 3, 3, 0.3);
}



/* HEADER END */